/* perfil */

.perfilLogueado{
  padding-top: 50px;
  display: flex;
  background-color: #dadad9;
  color: #575756;

}

.infoUsuario{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* perfil usuario */
.portadaUsuario{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70vh;
  width: 100%;
  background-color: #6f6f6e;
  padding-top: 14px;

}

/* foto de perfil */
.cuadrado4 {
  display: flex;
  background: url(blah.jpg) 50% 50% no-repeat; /* 50% 50% centers image in div */
  width: 250px;
  height: 250px;
}

.cuadrado4 #fotoPerfil4 {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  padding: 6px;
}

/* seccion info */
